<mat-sidenav-container class="h-100">
  <mat-sidenav mode="side" opened class="px-2 py-3 bg-light" style="min-width: 15vw;">
    <h6 class="px-3">My App</h6>
    <mat-nav-list>
      <a mat-list-item class="text-info" *ngFor="let link of links" [routerLink]="link.path"
        routerLinkActive="text-white bg-info"> {{ link.viewValue }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="bg-white">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>